@model AspNetCoreKata.Shared.Product

@{
  ViewData["Title"] = "Products";
}
<h2>@ViewData["Title"]</h2>

<br/>

<table class="table">
  <tr>
    <th> @Html.DisplayNameFor(model => model.ProductID) </th>
    <th> @Html.DisplayNameFor(model => model.Name)      </th>
    <th> @Html.DisplayNameFor(model => model.Color)     </th>
    <th>&nbsp;</th>
  </tr>


  <tr>
    <td> @Html.DisplayFor(model => model.ProductID) </td>
    <td> @Html.DisplayFor(model => model.Name)      </td>
    <td> @Html.DisplayFor(model => model.Color)     </td>
  </tr>

</table>
